* {
  font-family "Helvetica"
}

.mint-msgbox .mint-msgbox-title, .mint-msgbox-message, .mint-msgbox-btn {
  font-size: 26px;
  line-height: 46px;
}

.mintui-field-error {
  font-size 36px
}

.mint-msgbox .mint-msgbox-btns {
  height 56px
}

.mint-toast-text {
  font-size: 28px
  margin 5px
}

.picker-center-highlight:after, .picker-center-highlight:before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #999999;
  display: block;
  z-index: 15;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
}

.mint-datetime-action {
  display: inline-block;
  height: 80px;
  width: 50%;
  text-align: center;
  line-height: 84px;
  font-size: 30px;
  color: #000;
}

.picker-slot {
  font-size: 30px
}

.picker-toolbar {
  height: 80px;
}

.mint-cell-text, .mint-radiolist-title {
  font-weight bold
  color #000
}

.mint-cell-wrapper, .mint-radiolist-title {
  font-size 32px
}

.mint-radiolist .mint-cell-wrapper {
  padding 20px 10px
}

.mint-field, .mint-radiolist {
  margin 30px 0
}

.mint-cell-value {
  border-bottom 2px solid #ddd
}

.mint-field .mint-cell-title {
  width: 180px
}

.mint-radio-core {
  box-sizing: border-box;
  display: inline-block;
  background-color: #fff;
  border-radius: 100%;
  border: 2px solid #ccc;
  position: relative;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.mint-radio-core::after {
  content: " ";
  border-radius: 100%;
  top: 10px;
  left: 10px;
  position: absolute;
  width: 12px;
  height: 12px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.mint-radio-input:checked + .mint-radio-core {
  background-color: #26a2ff;
  border-color: #26a2ff;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.rotating {
  display inline-block
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.fn-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.fn-clear {
  display: inline-block;
}
